.col-md-3
.col-md-6
  .pull-right
    = link_to 'All', cash_collections_path, class: "btn btn-default"
  .row
  %br
  .well
    %h1
      .text-center
        New cash collection
    = render 'form'
    %p
.col-md-3