/- set_var 'events', @events.map{|e| {title: e.course.name + " " + e.room.office.name  + " " + e.room.name, start: e.starts_at, end: e.ends_at, url: course_path(e.course)}}
/- set_var 'events', @events.map{|e| {title: e.event.starts_at, start: e.starts_at, end: e.ends_at}}
- set_var 'events', @events.map{|e| {title: e.room.name, start: e.starts_at, end: e.ends_at}}
.container
  .col-md-6
    %h4 Assets
    Cash
    %b= @cash
    %p
    Accounts receivable
    %b= @accounts_receivable
    %p
  .col-md-6
    %h4 Liabilites
    Accounts payable:
    %b= @accounts_payable
    %p
    Unearned revenue
    %b EA1 of future events

    Totall expences (price of users+rooms):
    %b @totaldueexpence
    %br
    Totally cash paid:
    %b Expence.sum(:amount)
    %br
  .col-md-3
    %h4 Incasations?
    Total cash incasated: - is it profit or not yet?
    %b CashCollection.sum(:amount)
    %br
    Total Cash not incasated:
    %b All Payments?

.well
  %div#calendar
