.container
.col-md-3
.col-md-6
  .well
    %h3
      Editing payment
      .pull-right
        = link_to 'Show payment', @payment, class: "btn btn-default"
        = link_to 'All payments', payments_path, class: "btn btn-default"
    = render 'form'
    %p
.col-md-3