.well
  .form-inline.clearfix
    .col-sm-5
      = f.input :starts_at, :minute_step => 15, label: false
    .col-sm-3
      = f.association :room
      /, collection: @offices, as: :grouped_select, group_method: :rooms
    .col-sm-2
      = f.select :member_id, @tenant.members.all.map{|c| [c, c.id]}, {},class: 'selectize'
    .col-sm-1
      = link_to_remove_association "Del event", f, class: "form-button btn btn-danger"

