.page-header
  %h1
    Editing course
    /.pull-right
    = link_to 'Show course', @course, class: 'navbar-link btn btn-primary'
    = link_to 'All courses', courses_path, class: 'navbar-link btn btn-primary'
= render 'form'
